<div class= "container">
    <div class="row mt-5 mb-5">
     <div class="col-md-12">
       <h1 class="text-center">Welcome to my blog!</h1>
        </div>
     </div>
     <div class="row mb-5">
      <div class="col-md-12">
      <p class= "text-center">My Caribbean vacation was unforgettable.
        Tropical climate, sun, beach, diving with sharks, transparent waters and deserted islands.</p>
   </div>
   </div>
   
   <div class="parallax"></div>

     <div class="row mt-5 mb-5">
      <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'> Feed </button>
 </div>
</div>


   
